.project__container {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0 7%;
}

.project__description{
    margin-bottom: var(--mb-1);
    text-align: center;
}

.project__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 350px) {
    /* .project__content{
        padding: 0 5%;
    } */
}