.about__container{
    align-items: center;
}

.about__data{
    grid-template-rows: repeat(2, 0.5fr);
    row-gap: 2rem;
}

.about__info {
    grid-template-columns: repeat(3, 170px);
    gap: 1rem;
    justify-content: center;
}

.about__box{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.about__box:hover{    
    transform: scale(1.05);
}

.about__icon{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    text-align: center;
    padding: 0 2rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__container{
        grid-template-columns:  1fr;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }


  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    
  }
  
  @media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description{
        padding: 0;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  